<!DOCTYPE html>
<html>
<head>
  <% const systemJsAssetMap = webpack.assets.reduce((prev, lib) => {
      if (lib.name.startsWith('system-production')) {
        prev.systemJsSrc = lib.name;
      }
      if (lib.name.startsWith('vendorBundle')) {
        prev.vendorSrc = lib.name;
      }
      return prev;
    }, {}); %>
  <% htmlWebpackPlugin.files.css.forEach((asset) => { %>
  <link rel="stylesheet" href="<%= asset %>" />  
  <% }) %>
</head>
<body>
  <script src="system.js"></script>
  <script src="jspm.config.js"></script>
  <script src="bundle.js"></script>
  <div id="application-root" />
  <script>
    SystemJS.import("<%= htmlWebpackPlugin.files.chunks.loader.entry %>");
  </script>
</body>
</html>