
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script type="systemjs-packagemap">
  <%
  const packageMap = { packages: {} };
  const assetMap = {};
  webpack.assets.forEach((asset) => {
    const libName = asset.name.split('.')[0];
    assetMap[libName] = asset.name;
    if (asset.name.split('.').slice(-1)[0] !== 'map') {
      packageMap.packages[libName] = {
        "main": asset.name,
        "path": "./"
      }
    }
    return packageMap;
  });
  %>
  <%= JSON.stringify(packageMap) %>
  </script>

  <script src="<%= assetMap.systemjs %>"></script>
  <script src="<%= assetMap.amd %>"></script>
  <script>
    System.import('./loader.js').then(loader => {
      console.log(loader);
      loader.default.Run()
    });
  </script>
  <% htmlWebpackPlugin.files.css.forEach((asset) => { %>
  <link rel="stylesheet" href="<%= asset %>" />
  <% }) %>
</head>
<body>
  <div id="application-root" />
</body>
</html>
